<!DOCTYPE html>
<html>
    <head>
        <title>Concept Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
        <script src="lib/vue.min.js"></script>
        <script src="js/http_requests.js"></script>
    </head>
    <div>
        <h1><span class="label label-default">Search</span></h1>
    </div>

    <body id="gui">
    	<div id="app">
				<input name="research" v-model="research"/>
				<button v-on:click="search">Send</button>
		</div>
		<div id="main-page-body">
			<div id="research_results" v-show="dataReceived" class="col-sm-4 main-page-block">
				<book
					v-for="b in books"
					v-bind:metadata="b">
				</book>
			</div>
			<div id="complete_text" v-show="writingChosed" class="col-sm-8 main-page-block">
				<div id="texteee" v-on:click="printIt()" v-html=" text "></div>
			</div>
		</div>
    </body>
	
	
	<!-- Script must be at the end for it to recognize the objects -->
	<script src="js/main.js"></script>
    
</html>