h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.padding1 {
	padding-top: 10px;
}

#login{
	border: 1px solid none;
	text-align: right;
	padding-right: 10px; right: 0;
	position: fixed;
	z-index: 500;
}
fulltext{
	z-index: 1000;
}
/*.login{border: 1.5px solid rgb(1,110,245);
background-color: rgb(70,130,250);
font-size: 17px;
color: black;
padding: 3px 7px;
}
.login:hover{
background-color: rgb(190,210,255);
}*/

#CSname{
text-align: center;
color: rgb(122, 85, 37);
padding: 25vh 0px 2vh 0px;
letter-spacing: 1px;
font-size: 36px;
}

#searchBar{
	padding: 10px;
}

/*#searchbar{text-align: center;
}
.bar{width: 40%;
height: 35px;
font-size: 15px;
padding-left: 6px;
}*/
/*
#search{border: 1px solid none;
text-align: center;
word-spacing: 30px;
padding: 10px
}
.search{width: 15%;
padding: 4px;
position: relative;
border: 1.5px solid rgb(245,0,0);
color: black;
background-color: rgb(255,50,50);
font-size: 16px;
}
.search:hover{background-color: rgb(255,155,155);
}*/



#header{text-align: left;
border: 1px solid none;
padding: 10px 0 40px 10px;
}
.index{border: 1.5px solid rgb(122, 85, 37);
background-color: white;
color: rgb(122, 85, 37);
padding-bottom: 10px;
}
.index:hover{background-color: rgb(255,230,210);
}

#auteurs{border: 2px solid gray;
    border-radius: 20px / 10px;
    box-shadow: 6px 6px 15px gray;
    background-color: rgb(255, 245, 232);

}
#extract{border: 1.5px solid grey;
    border-radius: 20px / 10px;
    box-shadow: 6px 6px 15px gray;
    background-color: rgb(255, 245, 232);
padding: 8px 3px 8px 3px;
text-align: left;
}
.extractTitle{text-decoration: underline;
}
.extractText{text-align: justify;
color: green;
padding: 5px 3px 5px 8px;
}
#proposition{text-align: left;
}
#fulltext{
	border: 1.5px solid gray;
    border-radius: 20px / 10px;
    box-shadow: 6px 6px 15px gray;
    background-color: rgb(255, 245, 232);
}
.resultTitle{text-decoration: underline;
text-decoration: /*gras*/;
color: black;
padding: 12px 6px 10px 6px;
font-size: 16px;
}
.resultText{text-indent: 2;
padding: 0 15px;
color: black;
text-align: justify;
}



/* Text presentation */ 

/* Hover on text to see concepts */
.hoverItem {
	position: relative;
    text-decoration: underline;
	text-decoration-style: dashed;
	cursor: pointer;
}
.hiddenText {
	position: absolute;
	top: -15px;
	right: 0;
	color: white;
	background-color: grey;
	opacity: 0.8;
    display: none;
}
.hoverItem:hover .hiddenText {
    display:block;
}
