.padding1 {
	padding-top: 10px;
}

#login{border: 1px solid none;
text-align: right;
padding-right: 10px;
}
/*.login{border: 1.5px solid rgb(1,110,245);
background-color: rgb(70,130,250);
font-size: 17px;
color: black;
padding: 3px 7px;
}
.login:hover{
background-color: rgb(190,210,255);
}*/

#CSname{
text-align: center;
color: rgb(245,0,0);
padding: 8vh 0px 2vh 0px;
letter-spacing: 1px;
}

#searchBar{
	padding-right: 10px;
	padding-left: 10px;
}

/*#searchbar{text-align: center;
}
.bar{width: 40%;
height: 35px;
font-size: 15px;
padding-left: 6px;
}*/
/*
#search{border: 1px solid none;
text-align: center;
word-spacing: 30px;
padding: 10px
}
.search{width: 15%;
padding: 4px;
position: relative;
border: 1.5px solid rgb(245,0,0);
color: black;
background-color: rgb(255,50,50);
font-size: 16px;
}
.search:hover{background-color: rgb(255,155,155);
}*/
