

a:hover{
	text-decoration: none;
}

/*HEADER*/
#main_title{
	font-size: 30px;
}


/* body */
#main-page-body{
	position: absolute;
	height: 85%;
	width: 100%;
	
}
.main-page-block{
	height : 100%;
	overflow: auto;
}

/* Side menu presentation */
.extract{
	 background-color:#ccc;
}
.author{
	font-size: 20px;
	color: #000;
}
.writingTitle{
	font-size: 15px;
	color: #000;
}

#research_results{
	background-color: rgba(0, 0, 0, 0.2);
}


/* Text presentation */ 

/* Hover on text to see concepts */
.hoverItem {
	position: relative;
    text-decoration: underline;
	text-decoration-style: dashed;
}
.hiddenText {
	position: absolute;
	top: -20px;
	right: 0;
	color: white;
	background-color: grey;
	opacity: 0.8;
    display: none;
}
.hoverItem:hover .hiddenText {
    display:block;
}